<div class="card h-100 rounded-0">
    <a href="{% url 'event_detail' event.id %}" class="">
        <img class="img-fluid" src="{{ event.image_url }}" alt="{{ event.name }}">
        <div class="card-body pb-0">
            <h3>{{ event.name }}</h3>
            <small>{{ event.date|date:'DATE_FORMAT'  }}</small>
        </div>
        <div class="card-footer pt-0">
            {% if event.category %}
                <p class="small mt-1 mb-0">
                    <a href="{% url 'events' %}?category={{ event.category.name }}" class="text-muted">
                        <i class="fas fa-tag mr-1"></i>{{ event.category.friendly_name }}
                    </a>
                </p>
            {% endif %}
        </div>
    </a>
</div>

