{% extends 'base.html' %}
{% block content %}
<div class="row bg-white">
    <div class="col-12 col-lg-5 px-0 img-content">
        <img class="img-fluid img-card" src="{{ event.image_url }}" alt="{{ event.name }}">
    </div>
    <div class="col-12 col-lg-7 event-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatibus animi eaque dolore explicabo labore ab? Illo, ea natus earum alias eveniet sit est aliquid qui omnis nisi atque deserunt!    
    </div>
</div>
{% endblock content %}