$font-stack: 'Montserrat', sans-serif;

/* define colours */
$off-white: #EBEAE9;
$dark-grey: #393430;
$light-blue: #438DA3;
$dark-blue: #1D5166;
$copper: #A37343;
$highlight-yellow: #F0C24A;
$beige-bg: #C4B293;
$gold: #A3873B;